html{
	min-height:100%;
}
body{
	
	background: #D4EDF7;
	font-family: 'Raleway', sans-serif;

;
}

.Menu{
color:#110934;
position:static;
margin:0px;
background :#347C98;
padding-bottom:5px;
border-bottom:1px solid #110934;

}


#title{
margin:20px;
font-weight:bold;
font-size:2.2em;
border-bottom:1px solid #110934;

}
.Navigation{
font-size:2em;
margin-left:10px;
padding:0.3em;
position:relative;

}
#nav{
	margin:10px;
}
#nav:hover{
color:white;
cursor:pointer;
}
.aboutMe{
float: right;

position: relative;
left: -50%; 
max-width:75%;

}
.aboutMeTitle{
margin-top:10px;
text-align:center;
}
#aboutMeTitle{
font-size:2.2em;
border-bottom: 1px solid #110934;

}
#aboutMeText{

 position: relative;
 left: 50%; 
}